<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='studylist.css') }}">
{% extends "layout.html" %}
<script>
  document.body.style.backgroundColor = "yellow";
</script>

{% block content %}
    <div class="studylist-container">
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>
    <!-- {% for study in studies %}
      <div class="study-container">
        <h3 class="study-title"></h3>
      </div>
    {% endfor %} -->
    <div class="study-container">
        <h3 class="study-title">Modulation of vinblastine resistance in metastatic renal cell carcinoma with cyclosporine A or tamoxifen: a cancer and leukemia group B study.
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=9815587">[9815587]</a></h3>
      <div class="study-abstract">Multidrug resistance mediated by P-glycoprotein may be an important cause of chemotherapy failure. Renal cell carcinoma is a disease known to demonstrate a high degree of intrinsic chemotherapy drug resistance, and this has been shown to be related to intrinsic overexpression of P-glycoprotein. </div>
      <div class="show-more"><a href="">Show More</a></div>
    </div>
    <hr class="divider">
    <div class="study-container">
        <h3 class="study-title">Modulation of vinblastine resistance in metastatic renal cell carcinoma with cyclosporine A or tamoxifen: a cancer and leukemia group B study.
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=9815587">[9815587]</a></h3>
      <div class="study-abstract">Multidrug resistance mediated by P-glycoprotein may be an important cause of chemotherapy failure. Renal cell carcinoma is a disease known to demonstrate a high degree of intrinsic chemotherapy drug resistance, and this has been shown to be related to intrinsic overexpression of P-glycoprotein.</div>
      <div class="show-more"><a href="">Show More</a></div>
    </div>
    <hr class="divider">
    <div class="study-container">
        <h3 class="study-title">Modulation of vinblastine resistance in metastatic renal cell carcinoma with cyclosporine A or tamoxifen: a cancer and leukemia group B study.
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=9815587">[9815587]</a></h3>
      <div class="study-abstract">Multidrug resistance mediated by P-glycoprotein may be an important cause of chemotherapy failure. Renal cell carcinoma is a disease known to demonstrate a high degree of intrinsic chemotherapy drug resistance, and this has been shown to be related to intrinsic overexpression of P-glycoprotein. </div>
      <div class="show-more"><a href="">Show More</a></div>
    </div>
    <hr class="divider">
    <div class="study-container">
        <h3 class="study-title">Modulation of vinblastine resistance in metastatic renal cell carcinoma with cyclosporine A or tamoxifen: a cancer and leukemia group B study.
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=9815587">[9815587]</a></h3>
      <div class="study-abstract">Multidrug resistance mediated by P-glycoprotein may be an important cause of chemotherapy </div>
      <div class="show-more"><a href="">Show More</a></div>
    </div>
    <hr class="divider">
    <div class="study-container">
        <h3 class="study-title">Modulation of vinblastine resistance in metastatic renal cell carcinoma with cyclosporine A or tamoxifen: a cancer and leukemia group B study.
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=9815587">[9815587]</a></h3>
      <div class="study-abstract">Multidrug resistance mediated by P-glycoprotein may be an important cause of chemotherapy </div>
      <div class="show-more"><a href="">Show More</a></div>
    </div>
    <hr class="divider">
    <div class="study-container">
        <h3 class="study-title">Modulation of vinblastine resistance in metastatic renal cell carcinoma with cyclosporine A or tamoxifen: a cancer and leukemia group B study.
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=9815587">[9815587]</a></h3>
      <div class="study-abstract">Multidrug resistance mediated by P-glycoprotein may be an important cause of chemotherapy </div>
      <div class="show-more"><a href="">Show More</a></div>
    </div>
    <hr class="divider">
    <div class="study-container">
        <h3 class="study-title">Modulation of vinblastine resistance in metastatic renal cell carcinoma with cyclosporine A or tamoxifen: a cancer and leukemia group B study.
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=9815587">[9815587]</a></h3>
      <div class="study-abstract">Multidrug resistance mediated by P-glycoprotein may be an important cause of chemotherapy </div>
      <div class="show-more"><a href="">Show More</a></div>
    </div>
    <hr class="divider">
    </div>
{% endblock content %}
