<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='studylist.css') }}">
{% extends "layout.html" %}
{% block content %}
    <div class="studylist-container">
      <div class="studylist-header">
        <div class="results-found">{{ articles.total }} Results Found</div>
        <div class="pages-container">
          <a class="mb-4 mr-2" href="{{ url_for('results', page=articles.prev_num) }}">&laquo;</a>
          {% for page_num in articles.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
              {% if articles.page == page_num %}
                <a class="btn fill mb-4" href="{{ url_for('results', page=page_num) }}">{{ page_num }}</a>
              {% else %}
                <a class="btn outline mb-4" href="{{ url_for('results', page=page_num) }}">{{ page_num }}</a>
              {% endif %}
            {% else %}
              ...
            {% endif %}
          {% endfor %}
          <a class="mb-4 ml-2" href="{{ url_for('results', page=articles.next_num) }}">&raquo;</a>
        </div>
      </div>
      {% for article in articles.items %}
        <div class="study-container">
            <h3 class="study-title">{{ article.title }}
              <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=9815587">[{{ article.pmid }}]</a>
            </h3>
          <div class="study-abstract">{{ article.abstract }}</div>
          <div class="show-more"><a href="/article/{{ article.pmid }}">Show More</a></div>
        </div>
        <hr class="divider">
      {% endfor %}
      <button class="back-button" onclick="back()">Back</button>
    </div>
{% endblock content %}
